<% content_for :create_new_question do %>
    active
<% end %>

<div class="login_page_wrapper">
    <h2>Create New Question</h2>
    <div class="login_card">
        <%= form_for @question, :url => new_question_path(@question) do |f| %>
            <p>
                <%= f.text_field :name, :placeholder => "Question" %>
            </p>
            <div class="choice_card">
                <%= f.fields_for :choices do |choice| %>
                    <p>
                        <%= choice.text_field :name, :placeholder => "Choice" %>
                    </p>
                <% end %>
            </div>
            <p>
                <%= link_to "Add choice", '#', {:class => 'js-add_choice'} %>
            </p>

            <div id="js-date_time_picker" class="input-append date_time_input">
                <%= f.text_field :time_to_expire, :placeholder => "Time to expire" %>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                  </i>
                </span>
            </div>

            <p>
                <%= f.text_field :score, :value => number_with_precision(f.object.score, :precision => 2), :placeholder => "Points" %>
            </p>

            <p>
                <%= f.check_box :is_active, :placeholder => "Points" %> <span>Active</span>
            </p>
            <p>
                <%= f.submit 'Create', :class => 'btn btn-info' %>
            </p>
        <% end %>
    </div>
</div>
